{{#each steps}}
<br>
<div class="card border-muted mb-3">
  <div class="card-body text-dark">
    <h5 class="card-title">Step {{num}}</h5>
    <p class="card-text">
    <h6 class="card-subtitle mb-2 text-muted">
      {{process}}
    </h6>
    </p>
    <p class="card-text">{{result}}</p>
  </div>
</div>
{{/each}}