{{#if exists}}
<br>
<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">Binary</h5>
    <p class="card-text">
        <span style='color:red'>{{sign}}</span>
        <span style='color:blue'>{{cf}}</span>
        <span style='color:green'>{{econt}}</span>
        <span style='color:black'>{{dense}}</span>
    </p>
  </div>
</div>
{{/if}}