<div class='container'>

  <h2 class="title">Decimal 64 Floating Point Converter</h2>

  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">Input</h5>
      <div class="input-group input-group-lg">
        <div class="row">
          <div class="col-md-8">
            <label for="inputFloat" class="form-label">Float</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-md-4">
            <label for="inputExp" class="form-label">Exponent</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary convert">Convert</button>

  <br><br><br>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">Result</h5>
      <h6 class="card-subtitle mb-2 text-muted">Binary</h6>
      <p class="card-text">0 11010 10001010 00000000 00000000 10001010 00000000 00000000</p>
      <h6 class="card-subtitle mb-2 text-muted">Hex</h6>
      <p class="card-text">ABC DEF GHI JKL</p>
    </div>
  </div>

</div>